name: github pages

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    # 00:00 Jan 1 in Finland (EET = UTC+2)
    - cron: '0 22 31 12 *'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "0.76.5"
          extended: true

      - name: Build
        run: hugo --minify --gc

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        if: github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          external_repository: lateres/lateres.github.io
          publish_branch: main
          publish_dir: ./public
          cname: lateres.fi
